<a href="https://colab.research.google.com/github/faeqsu10/data-analysis-practice/blob/main/0630_codingdojang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# n개의 정수를 가진 배열이 있다. 이 배열은 양의정수와 음의 정수를 모두 가지고 있다.
# 이제 당신은 이 배열을 좀 특별한 방법으로 정렬해야 한다.
# 정렬이 되고 난 후, 음의 정수는 앞쪽에 양의정수는 뒷쪽에 있어야 한다.
# 또한 양의정수와 음의정수의 순서에는 변함이 없어야 한다.

# 예) -1 1 1 3 -2 2 ans : -1 -2 1 3 2

In [ ]:
# 아이디어

# a = 음수
# b = 양수 로 구분해서 리스트 만듬
# 처음부터 순서대로 체크해서
# 음수면 a 리스트에 추가
# 양수면 b 리스트에 추가
# 최종적으로 result 리스트에 더해서 넣는다

In [ ]:
list = [-1, 1, -5, 3, -2, 2, 7]
n_number = []
p_number = []
result = []
for i in list:
  if i < 0 :
    n_number.append(i)
  elif i > 0 :
    p_number.append(i)
result = n_number + p_number
print(result)

[-1, -5, -2, 1, 3, 2, 7]

In [ ]:
# 피보나치 수열이란, 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때,
# 이후의 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 말한다.

# 예) 0, 1, 1, 2, 3, 5, 8, 13

# 인풋을 정수 n으로 받았을때, n 이하까지의 피보나치 수열을 출력하는 프로그램을 작성하세요.

In [ ]:
#아이디어 1 (for문) - > 직관적이지 않다.

n = int(input())

arr = [0,1] # 0,1 까지는 리스트를 만들어 주었다

for i in range(1, n-1) :
  arr.append(arr[i-1]+arr[i])
print(arr)

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#아이디어 2 (while문, 인덱스 -1, -2 이용)

n = int(input())

arr =[0,1]

while 1:
  b = arr[-1] + arr[-2]
  if b <= n:
    arr.append(b)
  else:
    break
print(arr)

30
[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
#아이디어 3 (while문, 리스트, append, 인덱스 -1,-2 이용, pop 이용)

n = int(input())

arr =[0,1]

while arr[-1] <= n :
  arr.append(arr[-1]+arr[-2])
arr.pop(-1)
print(arr)

10
[0, 1, 1, 2, 3, 5, 8]

In [ ]:
# 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요
# 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됩니다.

In [ ]:
# 0003 0013 0023 0033 0043 0053 3+13+23+33+43+53
# 0103 0113 0123 0133 0143 0153 60*1+3 + 60*1+13 + 60*1+23 + 60*1+33 + 60*1+43 + 60*1+53
# 0203 0213 0223 0233 0243 0253 60*2+3 +
# ...
# 0903 0913 0923 0933 0943 0953 60*9+3 + 60*9+13 + 60*9+23 + 60*9+33 + 60*9+43 + 60*9+53        10번 * 6 = 60
# 1003 1013 1023 1033 1043 1053 60*10
# 11                         ...60*11
# ..
# 19                                    10번 * 6 = 60
# 20
# 21
# 22
# 2303 2313 2323 2333 2343 2353 60*23   4번 * 6 = 24

# 60*a+3 + 60*a+13 + 60*a+23 + 60*a+33 + 60*a+43 + 60*a+53 a=0~23

In [ ]:
t = 23
m = 5

a = 0
for i in range(0, t+1) :
    a += ((60*i)+3)*60
#print(a)

b = 0
for i in range(0, t+1) :
    b += ((60*i)+13)*60
#print(b)

c= 0
for i in range(0, t+1) :
    c += ((60*i)+23)*60
#print(c)

d = 0
for i in range(0, t+1) :
    d += ((60*i)+33)*60
#print(d)

e = 0
for i in range(0, t+1) :
    e += ((60*i)+43)*60
#print(e)

f = 0
for i in range(0, t+1) :
    f += ((60*i)+53)*60
#print(f)

print(a+b+c+d+e+f)

6203520

In [ ]:
sumSec = 0
for h in range(24) :
  for m in range(60) :
    if '3' in str(h) or '3' in str(m):
      sumSec += 60
print(sumSec)

29700

In [ ]:
timeResult = 0 # 3을 모두 더한 시간

for time in range(0, 23+1):
    for minute in range(0, 59+1):
        if '3' in str(time) or '3' in str(minute):
            timeResult += 60
print(timeResult)

29700

In [ ]:
def clock(num):
    sec = 0
    for h in range(24):
        for m in range(60):
            if str(num) in str(h) + str(m): # 문자열로 변환한 시간에 해당 숫자가 들어있으면
                sec += 60
    return sec

print(clock(3))

29700

In [ ]:
#1일동안(00:00~23:59)의 모든 시간들을 초단위로 구한 후에 3이 포함되어 있는 시간들을 count 했습니다.
hour = 0
min = 0
sec = 0
count = 0

while True:
    curtime = "%s:%s" % (hour, min)
    if curtime.find("3") != -1:
        count += 1
    if hour == 23 and min == 59 and sec == 59:
        break
    elif min == 59 and sec == 59:
        hour += 1
        min = 0
        sec = 0
    elif sec == 59:
        min += 1
        sec = 0
    else:
        sec += 1

print(count)

29700

In [ ]:
# 메모리공간을 동적으로 사용하여 데이터 관리하기

# 프로그램 실행 순서
# 입력할 정수의 개수를 사용자로부터 입력 받는다.
# 입력받은 정수의 개수만큼 정수를 입력받는다.
# 입력받은 정수의 합과 평균 값을 출력한다.
# 할당된 메모리공간을 비운다.

In [ ]:
# input()
# 입력받은 정수의 개수 = 5개 => 입력받은 정수 = 5
# 5개 정수의 합 과 5개 정수의 평균 값
# 할당된 메모리공간을 비운다

In [ ]:
#
# 일전에 뭐 게임 회사에서 본 간단한 퀴즈 테스트 입니다.
# 0~9까지의 문자로 된 숫자를 입력 받았을 때,
# 이 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.
# sample inputs: 0123456789 01234 01234567890 6789012345 012322456789
# sample outputs: true false false true false

In [ ]:
num = "0123456789 01234 01234567890 6789012345 012322456789".split(' ')
print(num)

for i in num:
  for j in num:
    if num[i][j] == num[i][j] :
      print(False)
    else:
      print(True)

['0123456789', '01234', '01234567890', '6789012345', '012322456789']

In [ ]:
num[0][0]

'0'

In [ ]:
# 중복제거한거와 비교해서 같으면 true 틀리면 false