<a href="https://colab.research.google.com/github/faeqsu10/data-analysis-practice/blob/main/k-digital_python_practice_0630.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# 문자열 포맷팅을 왜 써야하는지를 이해해야함
apple = 4
days = 6
"i ate {0} apple for {1} days.".format(apple, days)

'i ate apple for 4 days 6'

In [37]:
f"i ate {apple} apple for {days} days."

'i ate 4 apple for 6 days.'

In [ ]:
float_a = 10.1234
float_b = 10.123456

print("model a = {0:.3}, model b = {1:.5}".format(float_a, float_b))
print("model a = {0:.3f}, model b = {1:.5f}".format(float_a, float_b))
print("model a = {0:.10f}, model b = {1:.10f}".format(float_a, float_b))

In [ ]:
message = "Hello, World"
message

In [ ]:
print("1.", message[-3:-1])
print("2.", message[0:4])
print("3.", message[-3])
print("4.", message[-4])

In [80]:
# replace() 함수를 적용한 message변수를 message변수에 넣어줘야 한다.
if "He" in message:
  message = message.replace("He", "Ee")
  print(message)

In [81]:
# 문자열에 추가는 + 를 사용
# 리스트에 추가는 .append() 를 사용
# 리스트에 값 제거는 odd.pop() 사용 (맨 끝에꺼)
# del odd[]
# odd.remove()
# .sort() #오름차순 기본정렬
# .sort(reverse=True) # 역순정렬
# odd = odd + [1,2,3] #여러개 추가시  #하나씩 추가식은 .append()

In [ ]:
# call by reference (리스트형)
a=[1,2,3,4]

b=a
b[0]=100

print(a)
print(b)

print(id(a))
print(id(b))

In [ ]:
a = [1,2,3,4]
b = a.copy()
b[0] = 100

print(a)
print(b)

In [ ]:
#list형이 아닐경우 call by reference 발생하지 않음(call by value)
a = 200
b = a
print(id(a))
print(id(b))
b = 300
print(a)
print(b)
print(id(a))
print(id(b))

In [ ]:
basket = ["apple", "banana", "cherry", "pineapple"]
for i in basket:
  print(i)

In [ ]:
for i in range(1,10+1,2):
  print(i)

In [ ]:
for i in range(1,10):
  if i == 2:
    continue
  elif i == 5:
    continue
  elif i == 8:
    print(i)
    break
  print(i)

In [113]:
# age < 10 / 19 > age >= 10 / age >= 19
age = 30

In [ ]:
if age < 10:
    print("어린학생")
#if ~ elif 는 위에서부터 차례대로 검사하는데,
#위에서 참이 나오면 참인 명령만 실행하고 끝남.
#elif 도 else와 마찬가지로 앞에 if 가 있어야 사용할 수 있음.
#elif 는 else와 다르게 여러개 사용할 수 있음.
elif age < 19:
    print("학생")
else:
    print("일반인")

In [ ]:
# 리스트 슬라이싱 => [start:end:sep] 형태로 사용
a=[1,2,3,4,5,6,7,8,9,10]
print(a[3::2])

In [120]:
#함수
def multiply(a, b):

    c = a * b

    return c

In [121]:
multiply(2, 3)

6

In [122]:
multiply(3, 4)

12

In [123]:
# 파이썬 자료형 종류 리뷰
# 1) 숫자형
# 1, 2, 3, 0, -1, -5, 3.14

# 2) Boolean
# True, False

# 3) 문자열
# "Hello", "메가IT", '빅데이터'

# 4) 리스트 List
# [], [1,3,5], ["홍", "길", "동"]

# 5) 튜플 Tuple
# (), (1,3,5)

# 6) 사전 Dictionary
# {key1 : value1}, {"이름":"서현경", "성별":"남자"}

# 7) 집합 Set
# {}, set([1,3,5]), set("Hello")

In [124]:
# 연습 1.

# 1. 루프를 1부터 10까지 반복합니다. (=i에는 1부터 10까지의 값이 반복해서 들어갑니다)
# 2. i를 그대로 출력하지 않고, 두 배로 늘려서 출력합니다. (i * 2)
# 3. 반복문 안에서 출력하지 않고, 반복문 안에서 값을 모아뒀다가 반복문이 끝나면 밖에서 출력합니다.
#    이를 위해서는 빈 리스트를 만든 뒤(double_list = []), 리스트의 .append 기능을 사용해서 값을 집어넣습니다.
# 4. 여기서 i가 5일 경우는 반복을 한 번만 skip하고 다음 반복(i가 6일 경우)을 재시작합니다.
# 5. 그리고 i가 8일 경우는 반복문을 강제로 종료시킵니다.

In [127]:
# 1. 루프를 1부터 10까지 반복합니다. (=i에는 1부터 10까지의 값이 반복해서 들어갑니다)

val = [1,2,3,4,5,6,7,8,9,10]
for i in val:
  print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [130]:
# 2. i를 그대로 출력하지 않고, 두 배로 늘려서 출력합니다. (i * 2)

val = [1,2,3,4,5,6,7,8,9,10]
for i in val:
  print(i*2, end = " ")

2 4 6 8 10 12 14 16 18 20

In [133]:
# 3. 반복문 안에서 출력하지 않고, 반복문 안에서 값을 모아뒀다가 반복문이 끝나면 밖에서 출력합니다.
#    이를 위해서는 빈 리스트를 만든 뒤(double_list = []), 리스트의 .append 기능을 사용해서 값을 집어넣습니다.

val = [1,2,3,4,5,6,7,8,9,10]

double_list = []
for i in val:
  i *= 2
  double_list.append(i)
print(double_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [136]:
# 4. 여기서 i가 5일 경우는 반복을 한 번만 skip하고 다음 반복(i가 6일 경우)을 재시작합니다.
for i in val:
  if i == 5 :
    continue
  print(i, end=" ")

1 2 3 4 6 7 8 9 10

In [140]:
# 5. 그리고 i가 8일 경우는 반복문을 강제로 종료시킵니다.
for i in val:
  if i == 5 :
    continue
  elif i == 8 :
    print(i)
    break
  print(i, end=" ")

1 2 3 4 6 7 8

In [141]:
# 연습 2. 점수 채점하기

# 총 12명의 레벨테스트 점수가 파이썬의 리스트(List)로 담겨져 있고,
# 이를 score라는 이름의 변수에 할당하였습니다.

# score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

# 이 score 변수에 담겨져 있는 값을 활용하여 아래 문제를 풀어보세요.

In [6]:
# 전체 점수의 평균을 구하는 코드를 작성해보세요.
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

# 방법1
s=0
for i in score :
  s = s + i
avr = s / len(score)
print("점수합:", s)
print("평균점수:", avr)

점수합: 915
평균점수: 76.25

In [278]:
# 방법2
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

count = 0
total = 0

for i in score :
  count = count + 1
  total = total + i
  print(count, i, total)

print("평균값 : ", total / count)

1 80 80
2 60 140
3 70 210
4 50 260
5 100 360
6 95 455
7 40 495
8 75 570
9 90 660
10 65 725
11 90 815
12 100 915
평균값 :  76.25

In [5]:
# 방법3

score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

Score_mean = sum(score) / len(score)
print(Score_mean)

76.25

In [261]:
# 방법4
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]
import pandas as pd
pd.DataFrame(score).describe()

                0
count   12.000000
mean    76.250000
std     19.785785
min     40.000000
25%     63.750000
50%     77.500000
75%     91.250000
max    100.000000

In [179]:
# 전체 점수 중 가장 높은 점수를 구하는 코드를 작성해보세요.
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

# 방법1
a = max(score)
print("가장 높은 점수",a)

#방법2

가장 높은 점수 100

In [180]:
# 전체 점수 중 가장 낮은 점수를 구하는 코드를 작성해보세요
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]
# 방법1
a = min(score)
print("가장 낮은 점수",a)

# 방법2

가장 낮은 점수 40

In [268]:
# 연습3. 함수 - 팩토리얼
# 3! = 3 x 2 x 1 = 6
# 4! = 4 x 3 x 2 x 1 = 24
# 5! = 5 x 4 x 3 x 2 x 1 = 120

#방법1.
def fac(n):
  result = 1
  for i in range(1, n+1):
    result = result * i
    #print("n이 {0}일 때, 팩토리얼 결과 값은 {1} 입니다.".format(i, result))
  return result

rslt = fac(5)
print(rslt)

120

In [273]:
#방법2.
def factorial(n):
  if n == 1:
    return 1
  else:
    return n*factorial(n-1)
x = factorial(4)
print(x)

24

In [274]:
# 2*fac(1)
# 3*fac(2) = 3*2*1
# 4*fac(3) = 4*3*2*1

In [ ]:
############################################

In [ ]:
# 연습 4. 369게임
# 1부터 시작해 숫자를 하나씩 센다.
# 숫자에 3이나 6이나 9 배수일 경우 박수(clap)를 친다.
# 지정한 최대 숫자까지 도달하면 프로그램을 종료한다.

In [13]:
def game369(n):
  n = range(1,n+1)
  for i in n :
    if i % 3 == 0 or i % 6 == 0 or i % 9 == 0 :
      print("clap")
    else :
      print(i, end=' ')
game369(100)

1 2 clap
4 5 clap
7 8 clap
10 11 clap
13 14 clap
16 17 clap
19 20 clap
22 23 clap
25 26 clap
28 29 clap
31 32 clap
34 35 clap
37 38 clap
40 41 clap
43 44 clap
46 47 clap
49 50 clap
52 53 clap
55 56 clap
58 59 clap
61 62 clap
64 65 clap
67 68 clap
70 71 clap
73 74 clap
76 77 clap
79 80 clap
82 83 clap
85 86 clap
88 89 clap
91 92 clap
94 95 clap
97 98 clap
100

In [ ]:
def game369(n):
  for i in range(1, n+1):
    if i % 3 == 0:
      print("clap")
    elif i % 6 == 0:
      print("clap")
    elif i % 9 == 0:
      print("clap")
    else:
      print(i)
game369(100)

In [ ]:
def game369(finish):
    # 1부터 finish까지 반복을 돌며, 매 번 반복하는 값을 n이라는 이름의 변수에 할당합니다.
    for n in range(1, finish + 1):
        # 여기가 이 프로그램의 핵심입니다. n을 문자열(텍스트)로 변환합니다.
        # 가령 3은 "3"으로, 33은 "33"으로 변환합니다.
        n_text = str(n)

        # 텍스트로 된 n에 3이나 6이나 9가 있는지 체크합니다.
        if "3" in n_text or "6" in n_text or "9" in n_text:
            # 3, 6, 9가 있으면 박수를 칩니다.
            print("clap!")
        else:
            # 3, 6, 9가 없으면 숫자를 그대로 출력합니다.
            print(n)
game369(9)

In [238]:
# 연습 5. 콜라츠 추측
# 3n + 1 문제는 다음과 같습니다.

# n이 홀수면 3을 곱한 뒤 1을 더하고,
# n이 짝수면 2로 나눕니다.
# 마지막으로 n이 1이 되면 프로그램을 종료합니다.

In [249]:
n = int(input("숫자를 입력하세요: "))

if n % 2 == 1:
  n = n * 3 + 1
  print(n)
elif n % 2 == 0:
  n = n / 2
  print(n)
elif n == 1:
  print("프로그램을 종료합니다.")

숫자를 입력하세요: 1
4

In [275]:
# cycle이라는 이름의 함수를 만듭니다. 인자로 n을 받습니다.
def cycle(n):
  if n == 1:
    return [1]

  # n이 짝수이면 n이 하나 들어간 리스트와, cycle(n / 2)의 결과값을 더해서 반환합니다.
  if n % 2 == 0:
    return [n] + cycle(n / 2)

  # n이 홀수이면 n이 하나 들어간 리스트와, cycle(3 * n + 2)의 결과값을 더해서 반환합니다.
  else:
    return [n] + cycle(3*n+1)

In [276]:
print(cycle(1))
print(cycle(2))
print(cycle(3))
print(cycle(4))

[1]
[2, 1]
[3, 10, 5.0, 16.0, 8.0, 4.0, 2.0, 1]
[4, 2.0, 1]