<a href="https://colab.research.google.com/github/faeqsu10/data-analysis-practice/blob/main/k_digital_practice230622.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# day01_var_ex02.py

# 현금을 1000원 갖고 있다.
# 200원짜리 과자를 구매하면 잔돈은 얼마일까?

cash = 1000
snack = 200
change = cash - snack
print("잔돈: {}원".format(change))
print("잔돈 = %d원" % change)
f'잔돈 :{change}원'

잔돈: 800원
잔돈 = 800원

'잔돈 :800원'

In [ ]:
# 가로가 4이고 세로가 2인 삼각형의 넓이 출력

row = 4
col = 2
tri = (row * col) / 2

f'삼각형의 넓이는 {tri} 입니다.'

'삼각형의 넓이는 4.0 입니다.'

In [ ]:
# 월급이 100원이다. 세금 10%를 제외한 연봉 출력

salary = 100
year = salary * 12
year

1200

In [ ]:
tax = year * 0.1
tax

120.0

In [ ]:
tyear = year - tax
tyear

1080.0

In [ ]:
f'세금을 제외한 연봉은 {tyear:.0f}입니다.'

'세금을 제외한 연봉은 1080입니다.'

In [ ]:
# 100초를 1분 40초로 출력
s = 100
m = s / 60
mm = s // 60
ss = s % 60
print(m)
print(mm)
print(ss)

1.6666666666666667
1
40

In [ ]:
f'100초는 {mm}분 {ss}초 입니다.'

'100초는 1분 40초 입니다.'

In [ ]:
##
time = 100
time

100

In [ ]:
min = 100 // 60
min

1

In [ ]:
sec= 100 % 60
sec

40

In [ ]:
f'100초는 %d 분 %d 초'%(min, sec)

'100초는 1 분 40 초'

In [ ]:
f'100초는 {min}분{sec}초'

'100초는 1분40초'

In [ ]:
# 800원에서 500원을 제외한 100원의 개수 출력

a=[100,100,100,100,100,100,100,100]
b=[100,100,100,100,100]
len(a), len(b)

(8, 5)

In [ ]:
c=len(a)-len(b)
print(c)

3

In [ ]:
f'100원의 개수는 {c}개 입니다.'

'100원의 개수는 3개 입니다.'

In [ ]:
##
amount = 800
excluded = 500

remaining = amount - excluded
remaining

300

In [ ]:
count_100 = remaining // 100
count_100

3

In [ ]:
f'100원의 개수는 {count_100}개 입니다.'

'100원의 개수는 3개 입니다.'

In [ ]:
##
money = 800
coin500 = money / 500
coin500

1.6

In [ ]:
coin500 = money // 500
coin500

1

In [ ]:
coin100 = money % 500 // 100
coin100

3

In [ ]:
"800원은 500원 %d개, 100원 %d개" % (coin500, coin100)

'800원은 500원 1개, 100원 3개'

In [ ]:
"800원은 500원 {0}개, 100원 {1}개".format(coin500, coin100)

'800원은 500원 1개, 100원 3개'

In [ ]:
f'800원은 500원 {coin500}개, 100원 {coin100}개'

'800원은 500원 1개, 100원 3개'

In [ ]:
# 실행 결과와 같은 결과를 얻기위해서 다음 프로그램의 밑줄 부분을 채워 넣어라
color = ["red","green","blue","black","white"]

print(color[0])
print(color[4])
print(color[1:4]) # [1:3+1] = [1:4]

red
white
['green', 'blue', 'black']

In [ ]:
##
animals = ["사자", "호랑이", "사슴", "곰"]

i = 0
while i < 4 :
  print(animals[i])
  i = i + 1

사자
호랑이
사슴
곰

In [ ]:
#
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number : """

In [ ]:
number = 0
while number != 4:
  print(prompt)
  number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number :
2

1. Add
2. Del
3. List
4. Quit

Enter number :
3

1. Add
2. Del
3. List
4. Quit

Enter number :
4

In [ ]:
##
score = int(input("성적 입력: "))
print(score >= 60)

if 60<= score and score <= 100: # 정수 60~100
    print("합격")

if score >= 60:
    if score <= 100:
        print("합격")

if 0<= score and score < 60:
    print("불합격")

if 100 < score or score < 0:
    print("입력오류")

성적 입력: 60
True
합격
합격

In [ ]:
# 숫자 한 개를 입력받아 그 수가 양수, 음수, 0 인지 판단해보자.
number = int(input("숫자 입력: "))

if number > 0 :
  print("양수")
elif number < 0 :
  print("음수")
else :
  print("0")

숫자 입력: 70
양수

In [ ]:
# 문제 2) 숫자 한 개를 입력받아
#         그 수가 짝수인지 홀수인지 판단해보자.
# 힌트 2) 숫자 % 2 == 0     : 짝수
#         숫자 % 2 == 1     : 홀수

number = int(input("숫자 입력:"))

if number % 2 == 0 :
   print("입력한 숫자는 짝수입니다.")
elif number % 2 == 1 :
  print("입력한 숫자는 홀수입니다.")

숫자 입력:20
입력한 숫자는 짝수입니다.

In [ ]:
# 문제 3) 현금을 입력받아, 과자 구입 후의 잔돈을 출력해보자.
#         단, 과자 금액보다 현금이 적을 경우, 예외처리
snak = 800

money = int(input("현금 입력 : "))
charge = money - snak

if charge >= 0 :
  print("과자 구입 후의 잔돈은 %d 입니다." % charge)
else :
  print("돈이 모자릅니다.")

현금 입력 : 300
돈이 모자릅니다.

In [ ]:
# 과락

kor = int(input("국어 성적 입력 : "))
eng = int(input("영어 성적 입력 : "))
math = int(input("수학 성적 입력 : "))
tot = kor + eng + math
avg = tot / 3
if avg >= 60 :
  if kor >= 50 and eng >= 50 and math >= 50 :
    print("합격")
  elif kor < 50 or eng < 50 or math < 50 :
    print("불합격(과락)")
if avg < 60 :
  print("불합격(평균미달)")

국어 성적 입력 : 80
영어 성적 입력 : 80
수학 성적 입력 : 40
불합격(과락)